/tasks
/references
docs
DSL_laboratory_works
labs
report.tex
preamble.tex
/groman
/tasks

# ignore presentation deps
/2_FiniteAutomata/presentation/node_modules/
/2_FiniteAutomata/presentation/package-lock.json
/package-lock.json
